body{
    background-image:url("back.jpg");
    background-repeat:no-repeat;  
 }

.btn{
    margin-top: 20px;
}

.hello{
    margin-top: 80px;
    color:  #000000;
    }

.phots{
    border-radius: 25px;
    width: 400px;
    margin-top: 50px;
}
